<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">INSERT</h5>
    <p class="card-text">Ini Halaman Insert</p>
  </div>

  <div class="m-3">
    <form [formGroup]="formAdd">
      <div class="form-group">
        <label for="caregory_id">Category ID</label>
        <input type="text" class="form-control" id="caregory_id" aria-describedby="emailHelp"
               placeholder="Enter Category ID" formControlName="category_id">
        <span *ngIf="!formAdd.get('category_id')?.valid && formAdd.get('category_id')?.touched"
              class="error-block">
        <span *ngIf="!formAdd.get('category_id')?.errors?.['minlength']"
              class="error-block">
              Panjang Minimal 1
        </span>
          </span>
      </div>
      <div class="form-group">
        <label for="department_id">Department ID</label>
        <input type="text" class="form-control" id="department_id" aria-describedby="emailHelp"
               placeholder="Enter Department ID" formControlName="department_id">
        <span *ngIf="!formAdd.get('department_id')?.valid && formAdd.get('department_id')?.touched"
              class="error-block">
        <span *ngIf="!formAdd.get('department_id')?.errors?.['minlength']"
              class="error-block">
              Panjang Minimal 1
        </span>
          </span>
      </div>
      <div class="form-group">
        <label for="name">NAMA</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
               placeholder="Enter Your Name" formControlName="name">
        <span *ngIf="!formAdd.get('name')?.valid && formAdd.get('name')?.touched" class="error-block">
        <span *ngIf="!formAdd.get('name')?.errors?.['minlength']"
              class="error-block">
              Panjang Minimal 3
        </span>
          </span>
      </div>
      <div class="form-group">
        <label for="description">Keterangan</label>
        <textarea class="form-control" id="description" aria-describedby="emailHelp"
                  placeholder="Input Description" formControlName="description"></textarea>
        <span *ngIf="!formAdd.get('description')?.valid && formAdd.get('description')?.touched" class="error-block">
        <span *ngIf="!formAdd.get('description')?.errors?.['minlength']"
              class="error-block">
              Panjang Minimal 3
        </span>
          </span>
      </div>

      <div class="form-check">

        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>

      <button type="submit" (click)="simpan()" class="btn btn-primary">Simpan</button>
    </form>
  </div>
</div>
